name: CI

on: [ push, pull_request_target ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Standard
        run: npx standard
        with:
          annotate: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Setup Node
      uses: actions/setup-node@master
      with:
        node-version: 16
    - name: Install Dependencies
      run: npm install
    - name: Run Tests
      run: npm test
      env:
        CI: true
  build:
    name: Docker
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.event_name == 'push'
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build and publish to registry
      uses: docker/build-push-action@master
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: switchbladebot/invidget
        tag_with_ref: true
